@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
:root {
    /* colors */
    --ice-blue: #2222ff;
    --second-color: #ff2222; 
    --white: #ffffff;
    --gray:#303030;
    --light-gray:#505050;
    /* Margins */
    --margin-desk:5rem;
    --margin-tab:3rem;
    --margin-mob:1rem;



    /* Padding */
    --padding-desk:2rem 5rem;
    --padding-tab:2 3rem;
    --padding-mob:1 1rem;
  }
section{
    overflow: hidden;
    padding: var(--padding-desk);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
section h2{
    font-size: 2rem;
    font-weight: 500;
}
img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color:var(--ice-blue);
}
a:hover{
    color:var(--second-color);
}
button{
    background-color: var(--ice-blue);
    border: none;
    border-radius: 1.5rem;
    padding: 0.4rem 1.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
button:hover{
    background-color:var(--second-color);
}


/* ===== Nav bar ===== */
nav{
    /* background-color: #fff; */
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}

nav .left{
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    justify-content: center;

}
nav .left img{
    height: 80px;
}
nav .left h2{
    font-size: 2.1rem;
    color: var(--ice-blue);
}
nav .right{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}
nav .right ul{
    display: flex;
    column-gap: 2rem;
    align-items: center;
    justify-content: space-between;
}
nav .right ul a:hover li{
    color:var(--second-color);
    transition: all ease-in-out 0.5s;
}
nav .right ul li{
    color:var(--ice-blue);
    font-size: 1.4rem;
    font-weight: 600;
    display: inline-block;
    column-gap: 1rem;
    transition: all ease-in-out 0.5s;
}
nav .right a button{
    background-color: var(--ice-blue);
    border: none;
    border-radius: 1.5rem;
    padding: 0.4rem 1.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
nav .right a:hover button{
    background-color:var(--second-color);
    transition: all ease-in-out 0.5s;
}


